{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}
{% block nom_page %}Accueil{% endblock %}
{% block body %}
        <ul>
            {% for bibliotheque in bibliotheques %}
                <a href="{{ path('bibliotheque_view_name', {'name': bibliotheque.name})}}"><li>Nom : {{bibliotheque.name}}</li></a>
            {% else %}
                <li>Pas de bibliothèques</li>
            {% endfor %}
        </ul>
        {# <a href="{{ path('bibliotheque_add')}}"><button>Ajouter une bibliotheque</button></a> #}
{% endblock %}
