{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}
{% block nom_page %}Accueil{% endblock %}
{% block body %}
    <h3>Bibliotheque</h3>
        <ul>
            {% for bibliotheque in bibliotheques %}
                <a href="{{ path('bibliotheques_show', {'id': bibliotheque.id}) }}"><li>Nom : {{bibliotheque.name}}</li></a>
            {% else %}
                <li>Pas de bibliothèques</li>
            {% endfor %}
        </ul>
        {# <a href="{{ path('bibliotheque_add')}}"><button>Ajouter une bibliotheque</button></a> #}

        <h3>Auteurs</h3>

        <ul>
                {% for auth in randomAuths %}
                        <a href="#"><li>Nom : {{auth}}</li></a>
                {% else %}
                        <li>Pas de Auteurs</li>
                {% endfor %}
        </ul>


{% endblock %}
