{% extends 'base.html.twig' %}

{% block title %}Liste des Livres{% endblock %}
{% block nom_page %}Liste des Livres{% endblock %}
{% block body %}
        <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
            <ul>
                {% for livre in livres %}
                    <a href="{{ path('livre_view_name', {'name': livre.name})}}"><li>Nom : {{livre.name}}</li></a>
                {% else %}
                    <li>Pas de livre</li>
                {% endfor %}
            </ul>
            {# <a href="{{ path('livre_add')}}"><button>Ajouter un livre</button></a> #}
            <a href="#"><button>Ajouter un livre</button></a>

        </main>
{% endblock %}
