{% extends 'base.html.twig' %}

{% block title %}Modifier Auteur{% endblock %}
{% block nom_page %}Modifier Auteur{% endblock %}
{% block body %}

    {% if is_granted('ROLE_ADMIN') %}
        {{ include('auteurs/_form.html.twig', {'button_label': 'Update'}) }}
        <a href="{{ path('auteurs_index') }}">back to list</a>
        {{ include('auteurs/_delete_form.html.twig') }}
    {% endif %}   

{% endblock %}
