<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Ajouter un preset{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
        {% block body %}
        

        <a href="{{ path('index') }}"> <button>Retour à l'acceuil</button> </a>
        {% endblock %}
        {% block javascripts %}{% endblock %}
    </body>
</html>
