{% extends 'base.html.twig' %}

{% block title %}Admin{% endblock %}
{% block nom_page %}Admin{% endblock %}

{% block body %}
        
    <a href="{{ path('bibliotheques_new') }}">Ajouter une bibliothèque</a><br/>
    <a href="{{ path('auteurs_new') }}">Ajouter un auteur</a><br/>
    <a href="{{ path('livres_new') }}">Ajouter un livre</a><br/>


    <a href="{{ path('index') }}"> <button>Retour à l'accueil</button> </a>
{% endblock %}


