{% extends 'base.html.twig' %}

{% block title %}Nouveau Livre{% endblock %}
{% block nom_page %}Nouveau Livre{% endblock %}

{% block body %}
    {% if is_granted('ROLE_ADMIN') %}
        {{ include('livres/_form.html.twig') }}
    {% endif %} 

    <a href="{{ path('livres_index') }}">Retour</a>
{% endblock %}
