{% extends 'base.html.twig' %}

{% block title %}Modifier Bibliotheque{% endblock %}
{% block nom_page %}Modifier Bibliotheque{% endblock %}


{% block body %}
    {% if is_granted('ROLE_ADMIN') %}
        {{ include('bibliotheques/_form.html.twig', {'button_label': 'Update'}) }}

        <a href="{{ path('bibliotheques_index') }}">retour à la liste</a>

        {{ include('bibliotheques/_delete_form.html.twig') }}        
        
    {% endif %}   

{% endblock %}
