{% extends 'base.html.twig' %}

{% block title %}New Bibliotheques{% endblock %}

{% block body %}
    <h1>Create new Bibliotheques</h1>

    {{ include('bibliotheques/_form.html.twig') }}

    <a href="{{ path('bibliotheques_index') }}">back to list</a>
{% endblock %}
