{% extends 'base.html.twig' %}

{% block title %}Nouvelle Bibliotheque{% endblock %}
{% block nom_page %}Nouvelle bibliothèques{% endblock %}

{% block body %}

    {% if app.user %}
        {{ include('bibliotheques/_form.html.twig') }}
        <a href="{{ path('bibliotheques_index') }}">Retour à la liste</a>    
    {% endif %}   
    
{% endblock %}
